nav{background-color:#fff8e9;}

body{background-color:#ffc3a3;
color:#df5e47;
text-align:center;}
a{color: #df5e47;}
.navlink{font-family:verdana;font-size: 18px}
#puppytable{background-color:#fff8e9;}
#puprescue{font-family:cursive;}
